[submodule "Carthage.checkout/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = http://10.69.213.76:6080/mx_ios_github/Nimble.git
[submodule "Carthage.checkout/Quick"]
	path = Carthage/Checkouts/Quick
	url = http://10.69.213.76:6080/mx_ios_github/Quick.git
[submodule "Carthage.checkout/xcconfigs"]
	path = Carthage/Checkouts/xcconfigs
	url = http://10.69.213.76:6080/mx_ios_github/xcconfigs.git
[submodule "Carthage/Checkouts/Nimble"]
	url = http://10.69.213.76:6080/mx_ios_github/Nimble.git
[submodule "Carthage/Checkouts/Quick"]
	url = http://10.69.213.76:6080/mx_ios_github/Quick.git
